body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
        margin: 0;
        padding: 20px;
      }

      label {
        font-size: 18px;
        font-weight: bold;
      }

      h1 {
        font-size: 24px;
        color: blue;
      }

      h2 {
        font-size: 20px;
        color: blue;
      }

      h3 {
        font-size: 16px;
        color: blue;
      }